.not-found {
  margin-top: 80px;
  img {
    width: 60%;
    margin-bottom: 16px;
  }
}
.dark-not-found {
  padding-top: 80px;
  height: 1000px;
  background: #172825;
  img {
    width: 60%;
    margin-bottom: 16px;
  }
}
